{% extends "base.html" %}
{% block title %}Panel de Administrador{% endblock %}

{% block content %}


<!-- Aquí va el contenido específico del panel de administrador -->
<div class="container mt-4">
    <h2>Panel de Administrador</h2>
    <!-- Aquí puedes agregar más contenido específico -->
</div>

<footer>
    <div class="footer-content">
      <img class="imgfooter" src="{{ url_for('static', filename='img/cc3.png') }}" alt="">
      <div class="footer-text">
        <span>The CodersCrusaders:</span>
        <p>Monica Carena, Flavio Ramires, Cesar Torres, Roberto Steklein</p>
        <p>&copy; 2024 Biblioteca para Niños - Todos los derechos reservados</p>
      </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/mostrarNombreUsuario.js') }}" defer></script> <!-- Vincula el script JavaScript -->
{% endblock %}
