{% extends "base.html" %}
{% block title %}Agregar Libro{% endblock %}
{% block content %}
    <h1>Agregar Libro</h1>
    <form action="{{ url_for('agregar_libro') }}" method="post" enctype="multipart/form-data">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>
        
        <label for="autor_id">Autor:</label>
        <select id="autor_id" name="autor_id" required>
            {% for autor in autores %}
            <option value="{{ autor[0] }}">{{ autor[1] }}</option>
            {% endfor %}
        </select>
        <a href="{{ url_for('agregar_autor') }}">Agregar nuevo autor</a>
        
        <label for="genero_id">Género:</label>
        <select id="genero_id" name="genero_id" required>
            {% for genero in generos %}
            <option value="{{ genero[0] }}">{{ genero[1] }}</option>
            {% endfor %}
        </select>
        
        <label for="año_publicacion">Año de Publicación:</label>
        <input type="number" id="año_publicacion" name="año_publicacion" required>
        
        <label for="imagen">Imagen:</label>
        <input type="file" id="imagen" name="imagen" required>
        
        <label for="pdf">Archivo PDF:</label>
        <input type="file" id="pdf" name="pdf" required>
        
        <label for="resenia">Reseña:</label>
        <textarea id="resenia" name="resenia"></textarea>
        
        <button type="submit">Agregar Libro</button>
    </form>
{% endblock %}
